<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            Raised Ticket
          </div>
          <div class="col">
              <button  type="button" class="btn btn-primary float-right" (click)="btnClick();"><i class="fa fa-plus pr-2" aria-hidden="true"></i>New Ticket</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
        <table class="table">
          <thead class=" text-secondary">
          <th>
            No
          </th>
          <th>
            Date
          </th>
          <th>
            Property Code
          </th>
          <th>
            Floor
          </th>
          <th>
            Area Code
          </th>
          <th>
            Description
          </th>
          <th>
            Status
          </th>
          <th>
            Requested By
          </th>
          </thead>
          <tbody>
<!--          <tr *ngFor="let s of service.student">-->
<!--            <td>{{s.InvoiceNo}}</td>-->
<!--            <td>{{s.DocumentDate}}</td>-->
<!--            &lt;!&ndash;                <td>{{s.StudentNo}}</td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <td>{{s.StudentName}}</td>&ndash;&gt;-->
<!--            <td>{{s.Description}}</td>-->
<!--            &lt;!&ndash;                <td>{{s.ClassCode}}</td>&ndash;&gt;-->
<!--            <td>{{s.TermCode}}</td>-->
<!--            <td>{{s.AcademicYear}}</td>-->
<!--            &lt;!&ndash;                <td>{{s.StudentType}}</td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <td>{{s.CurrencyCode}}</td>&ndash;&gt;-->
<!--            <td>{{s.Status}}</td>-->
<!--            <td>-->
<!--              <button type="button" class="btn btn-primary" (click)="open(mymodal, s)" >View<i class="fa fa-eye pl-2" aria-hidden="true"></i></button>-->
<!--            </td>-->
<!--          </tr>-->
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
